body {
  background-color: #f4f4f4;
}

button {
  border-radius: 2px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(0,0,0,0)
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.task-list-wrapper {
  padding: 20px;
  -webkit-box-shadow: inset 0px 10px 5px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 10px 5px -5px rgba(0,0,0,0.25);
  box-shadow: inset 0px 10px 5px -5px rgba(0,0,0,0.25);
}

.todo-list-header {
  background-color: #fff;
}

.disable-link {
  pointer-events: none;
}

.route-link {
  text-decoration: none;
}

.back-btn {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.task-input-wrapper {
  height: 100%;
  width: 50%;
  text-align: left;
  margin: auto;
}

.add-task {
  border: none;
  border-bottom: 2px solid #7a7a7a;
  width: 100%;
  font-size: 18px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px;
  margin: 8px 0px;
  border-radius: 2px;
  text-align: left;
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.25);
  cursor: pointer;
}

.task-title {
  margin: auto 5px;
}

.task-btn-wrapper {
  min-width: 100px;
}

.task-completed {
  color: #a2abae;
  text-decoration: line-through;
  background-color: #c8e7f7;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
